# US01 - Data meaning

## Real Estate in Baoshan

### Classification problem

In [5]:
import pandas as pd 
df = pd.read_csv('UTSEUS-anjuke-real-estate-baoshan.csv', delimiter=',')
df.describe()

,longitude,latitude,bedroom,room,surface,price,onesquaremeter,done
count,34416.000000,34416.000000,34416.000000,34416.000000,34416.000000,3.441600e+04,34416.000000,34416.0
mean,121.419026,31.358999,2.135489,1.542219,80.874215,3.724417e+06,45357.469883,1.0
std,0.043893,0.045160,0.788247,0.577627,38.369549,2.235972e+06,12378.562546,0.0
min,121.268709,31.242255,1.000000,0.000000,10.000000,1.200000e+05,1562.500000,1.0
25%,121.397852,31.330078,2.000000,1.000000,57.000000,2.300000e+06,39285.714286,1.0
50%,121.421471,31.351733,2.000000,2.000000,76.000000,3.350000e+06,46268.656716,1.0
75%,121.444337,31.394538,3.000000,2.000000,93.000000,4.800000e+06,53086.419753,1.0
max,121.560788,31.548667,9.000000,9.000000,1240.000000,1.280000e+08,103225.806452,1.0

We choose to : 

   **X** : address    
   
   **Y** : price

In [6]:
#Data
X = df[['longitude', 'latitude', 'bedroom', 'room', 'surface']]
Y = df['price']

In [7]:
#Discritize the price (Z)
Z = pd.DataFrame.copy(Y)
Z[Y <= 2000000] = 1 
Z[(Y > 2000000)&(Y <= 3000000)] = 2
Z[Y <= 3000000] = 3

In [9]:
from sklearn.datasets import load_iris
from sklearn import tree
clf = tree.DecisionTreeClassifier()
iris = load_iris()
clf.fit(X,Z)
clf = clf.fit(iris.data, iris.target)

In [10]:
import graphviz 
tree.export_graphviz(clf,out_file='tree.dot')

Enter the content of the file *tree.dot* in the following website: http://webgraphviz.com/ or use: 
    
    dot -Tpng tree.dot -o tree.png